
.headBar{
	height: 100px;
	background: #e69215;
	color: #fff;
}

.headBar .title{
	text-align: center;
	font-size: 45px;
	line-height: 100px;
}

.headBar a{
	position: absolute;
    display: block;
    font-size: 35px;
    padding: 10px 30px;
    color: #fff;
    top: 10px;
    left: 25px;
    font-size: 40px;
  
}

