.position-infor{
	font-size: 40px;
	padding: 3% 6%;
	background: #fff;
	border-bottom: 1px solid #ccc;
}
.position-infor .position-name{
	font-size: 55px;
    color: #5b5b5b;
    font-weight: bolder;
}

.position-infor .work-context{
	color: #e69215;
    font-size: 45px;
    font-weight: bolder;
    padding: 20px 0;
}

.position-infor span{
	padding-left: 20px;

}

.position-infor .collet{
	float: right;
	color: #8BC34A;
}