.position-list{
	margin: 0;
	font-size: 25px;
}
.position-list ul{
    margin-bottom: 100px;
}
.position-list li{
	padding: 30px 35px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.position-list li h3{
	font-size: 43px;
	font-weight: bolder;
    color: #333;
    float: left;
} 

.position-list li p{
	clear: both;
}

.position-list .item .creat-time{
	float: right;
    font-size: 32px;
    padding-top: 20px;
    color: #b4710d;
}

.position-list img{
	width: 130px;
    position: absolute;
    top: 20%;
}

.position-list .position-description{
	padding-left: 20%;
    font-size: 40px;
}

.position-list .position-report{
	font-size: 40px;
    padding: 10px 55px;
}

.position-list .position-report span{
	padding-left: 30px;	
}

.position-list .icon{

   position: absolute;
    top: 45%;
    right: 4%;
    font-size: 30px;
    /* background: #337ab7; */
    border-radius: 50px;
    color: #fff;
    border: 1px solid#337ab7;
    padding: 15px 20px;
}

.position-list .star{
    position: absolute;
    top: 45%;
    right: 10%;
    background: url(../image/star.png);
}

.position-list .star-active{
    position: absolute;
    top: 45%;
    right: 10%;
    width: 30px;
    height: 30px;
    background: url(../image/star-active.png);
}


