.searchBar{
	background: #e69215;
}

.searchBar .title{
	font-size: 45px;
	padding-left: 50px;
	line-height: 100px;
	text-align: center;
	color: #fff;
}

.searchBar .search{
	color: #665151;
    background: #f1d3a6;
    padding: 2% 3%;
    position: relative;
}


.searchBar .search input{
	height: 80px;
    width: 80%;
    font-size: 45px;
    border-radius: 10px;
    outline: none;
    padding-left: 50px;
    border: 1px solid #907f66;
}

.searchBar .search button{
	display: block;
    font-size: 40px;
    padding: 10px 20px;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 10px;
    border: none;
    background: #e69215;
    text-align: center;
}

